
div{
    text-align: center;

    color: rgb(6, 7, 7);
font-size: xx-large;

} 
#personal_info{
    color:blueviolet;
    font-size: x-large;
}
#Email{
    text-align: left;
    color: black;
    font-size: larger ;
}
#PhoneNumber{
    text-align: left;
    color: black;
}
#num{
    color: beige;

}
