h1{
    color:blue;
    font-size: x-large;
    font-weight:x-large;
text-decoration: underline;
     text-align: center;
}
#my{color:aqua;
    font-size: x-large;
    font-weight:x-large;
text-decoration: underline;
     text-align: center;}
     #name{color:rgb(255, 0, 255);
        font-size: x-large;
        font-weight:x-large;
    text-decoration: underline;
         text-align: center;}
      
            
             #is{color:black;
                font-size: x-large;
                font-weight:x-large;
            text-decoration: underline;
                 text-align: center;
                }
                 #zizo{color:brown;
                    font-size: x-large;
                    font-weight:x-large;
                text-decoration: underline;
                     text-align: center;}
                     #the{color:chocolate;
                        font-size: x-large;
                        font-weight:x-large;
                    text-decoration: underline;
                         text-align: center;}
                         #maystro{color:chocolate;
                            font-size: x-large;
                            font-weight:x-large;
                        text-decoration: underline;
                             text-align: center;}
                     
             
         